# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
cmux

Makefile.in
Makefile

# packages
cmux-*.tar.gz

# generated and stuff
m4
compile
config.guess
depcomp
install-sh
missing
aclocal.m4
autogen.sh
autom4te.cache/
config.h.in
config.sub
configure
ltmain.sh
